@use '../mixins/pseudo.scss' as *;

.toggle-menu {
  border: transparent;
  background-color: transparent;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;

  &::before {
    @include pseudo(1.5rem, 0.125rem);
    background-color: white;
    top: 0;
    left: 0;
    box-shadow: 0 0.7rem 0 white;
  }

  &::after {
    @include pseudo(1.5rem, 0.125rem);
    background-color: white;
    bottom: 0;
    left: 0;
  }

  &:hover::after {
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

  &:hover::before {
    transform: rotate(-45deg);
    transform-origin: 100% 100%;
  }
}
