@use '../mixins/responsive.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background-color: transparent;
  color: white;
  backdrop-filter: blur(10px);
}

.header.scrolled {
  background-color: white;
  color: black;
  padding: 1rem 0;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  &__link {
    text-transform: uppercase;
  }
}
