.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  background-color: transparent;
  color: white;
  backdrop-filter: blur(10px);
}

.header.scrolled {
  background-color: white;
  color: black;
  padding: 1rem 0;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
