.home {
  background-color: hsl(210, 50%, 15%);
  background-image: url('/assets/images/DSC05317.jpg');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  padding: 30vh 0;
}
