.home {
  background-color: hsl(210, 50%, 25%);
  background-image: url(../assets/images/DSC06682.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  padding: 30vh 0;
}
