.home {
  background-color: hsl(210, 50%, 12%);
  background-image: url(../assets/images/DSC03277.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: white;
  padding: 50vh 0;
}
