@use '../mixins/responsive.scss' as *;

.project-grid {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 640px) {
    width: 85%;
  }
}

.two-cols {
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (min-width: 640px) {
  .two-cols {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 8rem;
    text-align: left;
  }

  .two-cols:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.project__img,
.project__info {
  flex-basis: 100%;
}

.project__img img {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0 0 0 / 0.2);
  transition: transform 200ms;
  &:hover {
    transform: scale(1.05);
  }
}

.two-cols:nth-child(even) .project__img,
.two-cols:nth-child(odd) .project__info {
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 500ms, transform 500ms;
  @media screen and (min-width: 640px) {
    transform: translateY(0) translateX(-10%);
  }
}

.two-cols:nth-child(odd) .project__img,
.project__info:nth-child(even) {
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 500ms, transform 500ms;
  @media screen and (min-width: 640px) {
    transform: translateY(0) translateX(10%);
  }
}

.two-cols:nth-child(even) .fade-in,
.two-cols:nth-child(odd) .fade-in {
  opacity: 1;
  transform: translateX(0);
}
